<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <style>
            .accordion, .card, .parameters > div + div, .submit {
                margin-top: 1rem;
            }
        </style>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            {{#unless singleModelMode}}
                {{> selector }}
            {{/unless}}
            <form  method="post">
                {{> groups }}
                {{> parameterCard }}
                {{#if isModelSelected}}
                    <button class="btn btn-primary submit" type="submit">Render STL</button>
                {{/if}}
            </form>
        </div>
    </body>
</html>